# Exercícios de tipos compostos

Consulte os slides se tiver dúvidas. Estes contêm toda a matéria necessária para realizar estes exercícios.


# 1 Listas de números
Considere a seguinte lista (execute a linha de código seguinte para que a lista fique definida no Jupyter)

In [ ]:
lista = [1, 4, 6, 22, 4, 7, 13, 12, 2, 3, 5]

Lembre-se que existe:
* uma indexação que vai da esquerda para a direita e começa no 0, 
* uma indexação que vai da direita para a esquerda e começa no -1  



1.1 imprima o numero que está na posição de indice 2

In [ ]:
print(lista[1])

4

1.2 imprima o numero que está na penúltima posição da lista.

In [ ]:
print(lista[9])

3

1.3 imprima todos os números desta lista separados por espaços (use o atributo end). Lembre-se que com um ciclo for pode iterar diretamente pelos elementos da lista.

In [ ]:
lista = [1, 4, 6, 22, 4, 7, 13, 12, 2, 3, 5]

for numero in lista:
  print(numero, end = " ")

1 4 6 22 4 7 13 12 2 3 5

1.4. Faça um programa que some todos os números pares desta lista e crie a lista pares, dos elementos pares da lista. imprima o resultado e a lista pares.

Resultado esperado:
```
A soma dos numeros pares da lista é 50
Lista dos númeors pares: [2, 4, 6, 22, 4, 12]
```

In [ ]:
soma = 0

for numero in lista:
  if (numero % 2) == 0:
    soma += numero
    print(numero, end = " ")
print("soma:", soma)

4 6 22 4 12 2 soma: 50

1.5 Faça um programa que imprime o índice da posição e o valor de cada elemento da lista. Utilize a função enumerate.

resultado esperado:
```
Na posição de indice 0 está o 1
Na posição de indice 1 está o 4
...
```

In [ ]:
for i, numero in enumerate(lista):
  print("Na posição de indice ", i, "está o ", numero)

Na posição de indice  0 está o  1
Na posição de indice  1 está o  4
Na posição de indice  2 está o  6
Na posição de indice  3 está o  22
Na posição de indice  4 está o  4
Na posição de indice  5 está o  7
Na posição de indice  6 está o  13
Na posição de indice  7 está o  12
Na posição de indice  8 está o  2
Na posição de indice  9 está o  3
Na posição de indice  10 está o  5

1.6 Crie uma lista com os números de 1 a 10 usando uma compreensão

In [ ]:
numeros = [i for i in range(1, 10+1)]
print(numeros)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

1.7 Cria uma lista com os números pares de 100 a 140, inclusivé,  usando uma compreensão

In [ ]:
pares = [i for i in range(100, 140+1) if i % 2 == 0]
print(pares)

[100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140]

# 2 Listas de strings

Considere a seguinte lista: 

`nomes = ["Maria", "Manuel", "Luis", "Augusta", "Zé", "Tolentino", "Ana"]`



2.1 Recorrendo a um ciclo e a formated strings, itere pelos vários nomes e imprima para cada nome uma frase do tipo:

`Bom dia, Maria!`

In [ ]:
nomes = ["Maria", "Manuel", "Luis", "Augusta", "Zé", "Tolentino", "Ana"]
for nome in nomes:
  print("Bom dia, ", nome,"!")

Bom dia,  Maria !
Bom dia,  Manuel !
Bom dia,  Luis !
Bom dia,  Augusta !
Bom dia,  Zé !
Bom dia,  Tolentino !
Bom dia,  Ana !

2.2 Crie uma lista ordenada alfabeticamente com o método sort e imprima-a.

Resultado esperado: `['Ana', 'Augusta', 'Luis', 'Manuel', 'Maria', 'Tolentino', 'Zé']`

In [ ]:
nomes = ["Maria", "Manuel", "Luis", "Augusta", "Zé", "Tolentino", "Ana"]
nomes.sort()
print(nomes)

['Ana', 'Augusta', 'Luis', 'Manuel', 'Maria', 'Tolentino', 'Zé']

2.3 Crie uma lista ordenada pelo número de carateres, de forma decrescente, e imprima-a. Use um lambda, tal como foi feito na aula.

Resultado esperado: `['Tolentino', 'Augusta', 'Manuel', 'Maria', 'Luis', 'Ana', 'Zé']`

In [ ]:
nomes = ["Maria", "Manuel", "Luis", "Augusta", "Zé", "Tolentino", "Ana"]
nomes.sort(key= lambda item: len (item), reverse = True)
print(nomes)

['Tolentino', 'Augusta', 'Manuel', 'Maria', 'Luis', 'Ana', 'Zé']

2.4 Crie, com um ciclo for, uma lista com a primeira letra de cada nome.

Resultado esperado: `['M', 'M', 'L', 'A', 'Z', 'T', 'A']`

In [ ]:
nomes = ["Maria", "Manuel", "Luis", "Augusta", "Zé", "Tolentino", "Ana"]
for nome in nomes:
  print(nome[:1])

M
M
L
A
Z
T
A

2.5 Crie com uma compreensão uma lista que guarda a primeira letra de cada nome.

2.6 Crie a lista `ladies` que guarda os nomes terminados em "a".


Resultado esperado: `['Maria', 'Augusta', 'Ana']`

In [ ]:
nomes = ["Maria", "Manuel", "Luis", "Augusta", "Zé", "Tolentino", "Ana"]
ladies = []
for nome in nomes:
  if nome[-1] == 'a':
    ladies.append(nome)
print(ladies)

['Maria', 'Augusta', 'Ana']

2.7 Crie a lista `ladies` que guarda os nomes terminados em "a", usando uma compreensão

# 3 Processamento de listas com strings

Considere a seguinte lista de strings:

In [ ]:
dados = [
    "Pedro Tamen, 1/1/1934", 
    "Almeida Garrett, 4/2/1799",
    "Camilo Pessanha, 7/9/1867",
    "Almada Negreiros, 7/5/1893",
    "Ibn Bassam, 21/11/1058",
    "Antonio Aleixo, 18/2/1899",
    "Agustina Bessa-Luís, 15/10/1922",
    "Ricardo Reis, 19/9/1887",
    "Mario Sá-Carneiro, 19/5/1890",
    "Mario Cesariny, 9/9/1923",
    "Luis Camões, 10/6/1524",
    "Miguel Torga, 12/8/1907",
    "Lidia Jorge, 18/10/1946"
    "Natália Correia, 12/9/1923",
    "Tolentino Mendonça, 15/12/1965",
    "Alberto Caeiro, 16/5/1889",
    "Jose Saramago, 16/11/1922",
    "Cesario Verde, 25/2/1855",
    "Luiz Pacheco, 7/5/1925",
    "Manuel Alegre, 12/5/1936",
    "Fernando Pessoa, 13/6/1888",
    "Herberto Helder, 23/11/1930",
    "Florbela Espanca, 8/12/1894"
]

### Relembrando...

No processamento de strings, dois métodos são muito úteis, split e find:

In [ ]:
 "Pedro Tamen, 1/1/1934".split(', ')

['Pedro Tamen', '1/1/1934']

In [ ]:
 "Pedro Tamen, 1/1/1934".split(',')[0]

'Pedro Tamen'

In [ ]:
nome = "Pedro Tamen, 1/1/1934"
nome[:nome.find(' ')] # retorna o índice da primeira ocorrência de ' '

'Pedro'

In [ ]:
nome = "Pedro Tamen, 1/1/1934"
nome[:nome.find(',')]

'Pedro Tamen'

In [ ]:
nome = "Pedro Tamen, 1/1/1934"
nome.split()[1][:-1]

'Tamen'

As compreensões também são formas simples de transformar uma lista. Por exemplo, criemos a lista com a primeira letra de cada pessoa:

In [ ]:
letras = [info[0] for info in dados]
print(letras)

['P', 'A', 'C', 'A', 'I', 'A', 'A', 'R', 'M', 'M', 'L', 'M', 'L', 'T', 'A', 'J', 'C', 'L', 'M', 'F', 'H', 'F']

Criemos uma lista de anos de nascimento de cada pessoa:

In [ ]:
anos = [int(info.split('/')[-1]) for info in dados]
print(anos)

[1934, 1799, 1867, 1893, 1058, 1899, 1922, 1887, 1890, 1923, 1524, 1907, 1923, 1965, 1889, 1922, 1855, 1925, 1936, 1888, 1930, 1894]

Criemos um dicionário de anos, onde a chave é a primeira letra do nome e o valor o ano nascimento:

In [ ]:
aniversarios = {info[0]:int(info[-4:]) for info in dados}
print(aniversarios)

{'P': 1934, 'A': 1889, 'C': 1855, 'I': 1058, 'R': 1887, 'M': 1936, 'L': 1925, 'T': 1965, 'J': 1922, 'F': 1894, 'H': 1930}

Transformando o dicionario anterior numa lista de tuplos é muito simples com o construtor list, não esquecendo de usar o método items() que especifica que queremos transformar os items, pares (chave e valor):

In [ ]:
listaAniversarios = list(aniversarios.items())
print(listaAniversarios)

[('P', 1934), ('A', 1889), ('C', 1855), ('I', 1058), ('R', 1887), ('M', 1936), ('L', 1925), ('T', 1965), ('J', 1922), ('F', 1894), ('H', 1930)]

Podemos ordenar a lista pelo segundo argumento do tuplo da seguinte forma:

In [ ]:
listaAniversarios.sort(key = lambda tuplo:tuplo[1])
print(listaAniversarios)

[('I', 1058), ('C', 1855), ('R', 1887), ('A', 1889), ('F', 1894), ('J', 1922), ('L', 1925), ('H', 1930), ('P', 1934), ('M', 1936), ('T', 1965)]

### Exercicios 
Considere a seguinte lista de strings:

In [ ]:
dados = [
    "Pedro Tamen, 1/1/1934", 
    "Almeida Garrett, 4/2/1799",
    "Camilo Pessanha, 7/9/1867",
    "Almada Negreiros, 7/5/1893",
    "Ibn Bassam, 21/11/1058",
    "Antonio Aleixo, 18/2/1899",
    "Agustina Bessa-Luís, 15/10/1922",
    "Ricardo Reis, 19/9/1887",
    "Mario Sá-Carneiro, 19/5/1890",
    "Mario Cesariny, 9/9/1923",
    "Luis Camões, 10/6/1524",
    "Miguel Torga, 12/8/1907",
    "Lidia Jorge, 18/10/1946"
    "Natália Correia, 12/9/1923",
    "Tolentino Mendonça, 15/12/1965",
    "Alberto Caeiro, 16/5/1889",
    "Jose Saramago, 16/11/1922",
    "Cesario Verde, 25/2/1855",
    "Luiz Pacheco, 7/5/1925",
    "Manuel Alegre, 12/5/1936",
    "Fernando Pessoa, 13/6/1888",
    "Herberto Helder, 23/11/1930",
    "Florbela Espanca, 8/12/1894"
]

3.1 Crie, com um ciclo for, uma lista de strings, onde cada string tem o nome e apelido de cada pessoa. Utilize por exemplo o método split.

   * Exemplo de excerto da lista: `nomes = ["Pedro Tamen", "Almeida Garrett", ...]`

In [ ]:
nomes = []
for nome in dados:
  nomes.append(nome.split(',')[0])
print(nomes)

['Pedro Tamen', 'Almeida Garrett', 'Camilo Pessanha', 'Almada Negreiros', 'Ibn Bassam', 'Antonio Aleixo', 'Agustina Bessa-Luís', 'Ricardo Reis', 'Mario Sá-Carneiro', 'Mario Cesariny', 'Luis Camões', 'Miguel Torga', 'Lidia Jorge', 'Tolentino Mendonça', 'Alberto Caeiro', 'Jose Saramago', 'Cesario Verde', 'Luiz Pacheco', 'Manuel Alegre', 'Fernando Pessoa', 'Herberto Helder', 'Florbela Espanca']

3.2 Crie uma lista de strings, onde cada string tem a primeira letra (abreviatura) do nome e o apelido de cada pessoa. Tende depois utilizar uma compreensão.

   * Exemplo de excerto da lista:  `nomes = ["P.Tamen", "A.Garrett", ...]`

3.3 Ordene a lista pelo apelido

Resultado esperado: `['M.Alegre', 'A.Aleixo', 'I.Bassam', 'A.Bessa-Luís', ...`

3.4 Usando a lista `dados` do exercício anterior, crie um dicionário de anos de nascimento em que a chave é a sigla e apelido, e o valor o ano de nascimento.

Exemplo de excerto do dicionário: `anosNascimento = {"P. Tamen": 1934, "A. Garrett":1799, ...}`

In [ ]:
aniversarios = {info[0]:int(info[-4:]) for info in dados}
print(aniversarios)

{'P': 1934, 'A': 1889, 'C': 1855, 'I': 1058, 'R': 1887, 'M': 1936, 'L': 1925, 'T': 1965, 'J': 1922, 'F': 1894, 'H': 1930}

3.5 Converta o dicionario numa lista e ordene-a pelo ano de nascimento de forma decrescente. Use o método items() ds dicionários, e o construtor list.

# 4. Dicionários
Num infantário perguntaram às crianças qual a prenda de Natal que queriam. Resultou na seguinte lista:

In [2]:
lista_brinquedos = ["bola", "boneca", "carro", "boneca", "boneca", "bola", "boneca", "carro", 
                    "boneca", "boneca", "bola", "boneca", "carro", "boneca", "boneca", 
                    "bola", "boneca", "carro", "boneca", "boneca", "bola", "carro", "bola", 
                    "carro", "boneca", "boneca", "carro", "carro", "carro"]

4.1 Crie o set de brinquedos pretendidos

Resultado esperado: `{'bola', 'boneca', 'carro'}  - o resultado pode estar noutra ordem pois é um set!`

In [3]:
lista_brinquedos = set(lista_brinquedos)
print(lista_brinquedos)

{'bola', 'boneca', 'carro'}

4.2 Crie um dicionario em que, para cada brinquedo (chave), guarda a quantidade de brinquedos (valor)

Resultado esperado: `{'bola': 6, 'boneca': 14, 'carro': 9}`

In [4]:
dicionario = {
    "bola" : 6,
    "boneca" : 14,
    "carro" : 9
}
print(dicionario)

{'bola': 6, 'boneca': 14, 'carro': 9}

4.3 Transforme os items do dicionario (lembre-se do método para obter os items...) numa lista de tuplos, com a função list

Resultado esperado: `[('bola', 6), ('boneca', 14), ('carro', 9)]`

In [16]:
tuplo = []
valores = dicionario.values()
keys = dicionario.keys()
for x in valores:
  for y in keys:
    tuplo.append((y,x))
print(tuplo)

[('bola', 6), ('boneca', 6), ('carro', 6), ('bola', 14), ('boneca', 14), ('carro', 14), ('bola', 9), ('boneca', 9), ('carro', 9)]

4.4 Ordene decrescentemente a lista, pela quantidade de brinquedos

Resultado esperado: `[('boneca', 14), ('carro', 9), ('bola', 6)]`

In [21]:
tuplo_sorted = sorted(tuplo, key=lambda tuplo: tuplo[1], reverse = True)
print(tuplo_sorted)

[('carro', 14), ('boneca', 14), ('bola', 14), ('carro', 9), ('boneca', 9), ('bola', 9), ('carro', 6), ('boneca', 6), ('bola', 6)]

# 5 Explorando um dicionário

Considere o dicionário brinquedos que tem o inventário dos brinquedos de várias crianças:
* Manuel tem um carro e uma bola
* Maria tem uma boneca e uma bola
* Luís tem uma bola, boneca e carro

Exemplo de um dicionário.

In [42]:
brinquedos = {
    "Manuel": ["carro", "bola"],
    "Maria": ["boneca", "bola"],
    "Luis": ["bola", "boneca", "carro"]
    }

5.1 Considerando que o dicionário segue a estrutura anterior, escreva uma instrução que compute quantas crianças existem no dicionário

Resultado esperado: `Existem 3 crianças`

In [24]:
print("Existem", len(brinquedos), "crianças")

Existem 3 crianças

5.2 Considerando que o dicionário segue a estrutura anterior, imprima a informação de quantos brinquedos cada criança tem, iterando com um ciclo for pelos items do dicionário, e usando uma string formatada.

Resultado esperado:

```
Manuel: 2 brinquedos 
Maria: 2 brinquedos 
Luis: 3 brinquedos
```

In [30]:
for x,y in brinquedos.items():
  print(f"{x}: {len(y)} brinquedos")

Manuel: 2 brinquedos
Maria: 2 brinquedos
Luis: 3 brinquedos

5.3 Imaginando que conhece a estrutura mas não o conteúdo do dicionário, verifique a quantidade total de brinquedos existente.

Exemplo de resultado: `Existem 7 brinquedos`

In [32]:
soma = 0
for x,y in brinquedos.items():
  soma += len(y)
print("Existem", soma, "brinquedos")

Existem 7 brinquedos

5.4 crie um código que verifique se existe alguma criança com um carro

In [43]:
for x,y in brinquedos.items():
  if('carro' in y):
    print("existe")
    break

existe

5.5 crie um código que indique os nomes das crianças que têm um carro.

Resultado esperado: `Manuel Maria Luis `

In [29]:
for x,y in brinquedos.items():
  if('carro' in y):
    print(x)

Manuel
Luis

5.6 crie um código que indique quantas crianças têm uma boneca

Resultado esperado: `Existem 2 crianças com uma boneca`

In [30]:
soma = 0
for x,y in brinquedos.items():
  if('boneca' in y):
    soma += 1
print("Existem", soma, "crianças com uma boneca")

Existem 2 crianças com uma boneca

5.7 crie uma instrução para adicionar um pião à lista de brinquedos do Manuel

In [48]:
brinquedos.get("Manuel").append("Pião")
print(brinquedos)

{'Manuel': ['carro', 'bola', 'Pião', 'Pião'], 'Maria': ['boneca', 'bola'], 'Luis': ['bola', 'boneca', 'carro']}

5.8 remova a bola da lista de brinquedos do Manuel

In [51]:
brinquedos.get("Manuel").remove("bola")
print(brinquedos)

{'Manuel': ['carro', 'Pião', 'Pião'], 'Maria': ['boneca', 'bola'], 'Luis': ['bola', 'boneca', 'carro']}